#### Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [5]:
test1 = "This is a test of the emergency text system,"
my_file = open("test.txt", 'w')
my_file.write(test1)

44

#### Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [6]:
test2 = open('test.txt', 'r+')
test2.read()

'This is a test of the emergency text system,'

In [7]:
print('there is no difference between test1 and test2')

there is no difference between test1 and test2

#### Q3. Create a CSV file called books.csv by using these lines:

title,author,year                                            
The Weirdstone of Brisingamen,Alan Garner,1960                        
Perdido Street Station,China Miéville,2000                                        
Thud!,Terry Pratchett,2005                     
The Spellman Files,Lisa Lutz,2007                                                     
Small Gods,Terry Pratchett,1992

In [16]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books_n.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

#### Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [17]:
import sqlite3
conn = sqlite3.connect('books_n.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

#### Q5. Read books.csv and insert its data into the book table.

In [18]:
import pandas as pd

read_books_n = pd.read_csv('books_n.csv',encoding='unicode_escape')
read_books_n.to_sql('books_n', conn, if_exists='append', index = False)

In [19]:
c.execute('select title, author,year from books_n order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

#### Q6. Select and print the title column from the book table in alphabetical order.

In [20]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books_n.db")
rows = engine.execute('select * from books_n')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

#### Q7. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [21]:
!pip install redis

Collecting redis
  Downloading redis-4.3.5-py3-none-any.whl (248 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\sarvesh\anaconda3\lib\site-packages (from redis) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\sarvesh\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.3.5

#### Q10. Increment the count field of test and print it.